<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/account.css">
</head>
<body>
    <div class="page">
        <div class="container">
            <div class="wrapper">

                <form action="/submit" method="post">
                  <label for="name">Имя:</label>
                  <input type="text" id="name" name="name"><br><br>

                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password"><br><br>
                  <input type="submit" value="Отправить">
                </form>

        </div>
    </div>
</body>
</html>