<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/shortlogoC.png" type="image/png">
    <title>Официальный сайт Сredo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://putracetol.com/">
    <link rel="preconnect" href="https://putracetol.com/">
    

    <link rel="stylesheet" href="/static/styles/shoes.css">
    <script src="/static/scripts/shadow.js"></script>
</head>
<body>
    <div class="page">
    <header>
        <div id="hover" class="header_nav">
            <div class="container">
                <a class="header_logo hover" href="home.html" id="logo">C R E D O</a>
                <ul class="header_list" id="menu">
                    <a href="{{ url_for('shoes_page') }}" class="header_menu"><li>Обувь</li></a>
                    <a href="" class="header_menu"><li>Штаны</li></a>
                    <a href="" class="header_menu"><li>Худи</li></a>
                    <a href="" class="header_menu"><li>куртки</li></a>  
                    <a href="" class="header_menu"><li>Аксуссуары</li></a>
                </ul>
            </div>
            <div id="header_shadow" class="header_shadow"></div>
        </div>
    </header>
    <section class="main-home">
    <div class='wrapper'>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='{{ url_for('newbalance_page') }}'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div>
        <div class='card'>
            <img class='card-img'  src='/static/img/nb1.png'>
            <div class='card-title'>NewBalance 990</div>
            <div class='btn-keeper'>
                <a class='btn' href='#'>Подробнее</a>
            </div>
        </div> 
    </div> 
    
    </section>
    <footer class="footer">
        <nav>
            <a href="home.html">HOME</a>
            <a href="about.html">ABOUT</a>
            
        </nav>
        <h4>Купить можно тут</h4>
        <div class="footer_icons">
            <a href="https://www.instagram.com/credo.sh/"><img src="/static/img/instagram.png" alt="instagram"></a>
            <a href="https://t.me/credo_sh"><img src="/static/img/telegram.png" alt="telegram"></a>
        </div>
      </footer>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>